<div class="">
    <div class="about" id='about'>
        <div class="about-left">
            <img src="/images/f.jpg" alt="" srcset="">
        </div>
        <div class="about-right">
            <h1 class='about-heading'>About Us</h1>
            <div class="about-text">
                <p class='text'>In The Top Care Beauty Salon and Makeup, we try to provide the best care to aur clients at affordable prices. We are located at 42, Sankar Nagar, Daliganj. </p>
            </div>
            <div class="working">
                <h2 class='working-heading'>Working Hours : 10:00 AM - 08:00 PM Weekdays.</h2>
            </div>
        </div>
    </div>
</div>