<div class="gallery" id="gallery">
    <div class="gallery-Heading">
        <h2>Our Work</h2>
    </div>
    <div class="galleryDisplay">
        <% for(let i=11;i<=19;i++) {%>
            <div class="gallery-card">
                <img class="gallery-image" src="images/<%= i+'.jpg' %>">
            </div>
            <% } %>
    </div>
</div>